.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  padding: 10px 20px;
  color: white;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 2%;
  width: auto;
}

.navbar a {
  color: rgb(231, 223, 223);
  margin-left: 15px;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
